<!-- Entry point for using OpenNI devices -->
<launch>
  <node pkg="imu_sensor" type="publishNRF.py" name="base_imu_pub">
    <remap from="/imu1" to="imu4"/>
    <remap from="/imu2" to="imu3"/>
  </node>

  <node pkg="odometry" type="kalman3IMULandmarksLinear.py" name="odometryPublisher">
    <remap from="/base_controller/odom" to="odom"/>
  </node>

</launch>
