<launch>
    <arg name="side" default="left" />
        <arg name="marker_size" default="6.0" />
        <arg name="max_new_marker_error" default="0.08" />
        <arg name="max_track_error" default="0.2" />
    
        <arg name="cam_image_topic" default="/cameras/$(arg side)_hand_camera/image" />
        <arg name="cam_info_topic" default="/cameras/$(arg side)_hand_camera/camera_info" />            
        <arg name="output_frame" default="/base" />
    
        <arg name="bundle_files" default="$(find odometry)/bundles/fridge_bundle.xml $(find odometry)/bundles/shelf_bundle.xml $(find odometry)/bundles/table_bundle.xml $(find odometry)/bundles/whiteboard_bundle.xml" />
        
        <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" />
    </launch>
